In [1]:
# エクセル表からリストを作成する
import openpyxl

workbook = openpyxl.load_workbook('14.xlsx')
number_sheet = workbook['その１']
mean_income_sheet = workbook['その３']
total_list = list()
size = 0
for row in range(7, 24):
    if number_sheet.cell(row=row, column=4).value == '計':
        size += 1
        continue
    for column in range(5, 13):
        number = number_sheet.cell(row=row, column=column).value
        mean_income = mean_income_sheet.cell(row=row, column=column).value
        person = {
            'size': size,
            'year': column - 5,
            'income': mean_income,
        }
        for i in range(number):
            total_list.append(person)
# total_list[0]
total_list[-1]

{'size': 5, 'year': 7, 'income': 5788}

In [2]:
# リストからCSVを出力する
import csv

with open('processed_data.csv', 'w') as f:
    writer = csv.DictWriter(f, total_list[0].keys())
    writer.writeheader()
    for data in total_list:
        writer.writerow(data)

In [3]:
import pandas

df = pandas.read_csv(
    'processed_data.csv',
)
df

          size  year  income
0            0     0    2658
1            0     0    2658
2            0     0    2658
3            0     0    2658
4            0     0    2658
...        ...   ...     ...
37348865     5     7    5788
37348866     5     7    5788
37348867     5     7    5788
37348868     5     7    5788
37348869     5     7    5788

[37348870 rows x 3 columns]

In [4]:
# df.plot.scatter('size', 'income')

In [5]:
# df.plot.scatter('year', 'income')

In [6]:
# 学習を行う
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

reg = LinearRegression()

y = df['income']
X_train, X_test, y_train, y_test = train_test_split(df, y, random_state=0)

X2_train = X_train[['size', 'year']]

reg.fit(X2_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
# テストを行う
X2_test = X_test[['size', 'year']]
y_pred = reg.predict(X2_test)
r2_score(y_test, y_pred)

0.5983867971844185

In [8]:
# pickle化を行う
import pickle

with open('trainend-model.pickle', 'wb') as f:
    pickle.dump(reg, f)